<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\logfile.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - [%M ## %C] - %message%newline" />
      </layout>
    </appender>

    <logger name="LogInFile">
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>

  <appSettings>
    <add key="NomeDoCaixa" value="pdv1" />
    <add key="CaminhoFisicoDaPlanilhaDeProdutos" value="C:\Repositories\bolaria\Pdv\Misc\Produtos.xls" />
  </appSettings>
  <connectionStrings>
    <add name="Repositorio" connectionString="Data Source=C:\Repositories\bolaria\Pdv\Misc\db.sl3;Version=3;" />
    <!--<add name="Repositorio"  connectionString="Data Source=d:\tfs\syslaps\Syslaps\Pdv\Misc\db.sl3;Version=3;"/>-->
    <!--<add name="Repositorio"  connectionString="Data Source=D:\Repositories\tfs\syslaps\Syslaps\Pdv\Misc\db.sl3;Version=3;"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.103.0" newVersion="1.0.103.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>