<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\logfile.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - [%M ## %C] - %message%newline" />
      </layout>
    </appender>
    <logger name="LogInFile">
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>
  <appSettings>
    <add key="NomeDoCaixa" value="pdv1" />
    <add key="TituloInicial" value="PDV - SAT - v2.0" />
    <add key="Cultura" value="pt-BR" />
    <add key="CaminhoFisicoDaPlanilhaDeProdutos" value="C:\Projects\luissanches\pdv-sat\misc\Produtos.xls" />
    <add key="CaminhoFisicoDoBatSincronizador" value="C:\Projects\Bolaria\Pdv\Node\sync\syncronize.bat" />
    <add key="MascaraCPF" value="999,999,999-99" />
    <add key="MascaraCNPJ" value="99,99,999/9999-99" />
  </appSettings>
  <connectionStrings>
    <add name="Repositorio" connectionString="Data Source=C:\Projects\luissanches\pdv-sat\misc\db.sl3;Version=3;" />
  </connectionStrings>
</configuration>